<!--
    Spring Boot Web MVC tutorial - Hypermedia System

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
</head>
<body>
<h1>Contacts</h1>

<form method="get" action="/hs/contacts">
    <label for="name">Contacts with name containing</label>
    <input id="name" name="query" th:value="${query ?: ''}">
    <button>Search</button>
</form>

<p th:if="${flash}" th:text="${flash}"></p>

<ul>
    <li th:each="contact : ${contacts}">
        <span th:text="${contact.name + ': ' + contact.phone}">Tony: 1234</span>
        <a th:href="@{/hs/contacts/{id}/edit(id=${contact.id})}">Edit</a>
        <a th:href="@{/hs/contacts/{id}(id=${contact.id})}">View</a>
    </li>
</ul>

<p>
    <a href="/hs/contacts/new">Add Contact</a>
</p>

<div th:replace="~{fragments :: myNav}"></div>
</body>
</html>