<!--
    Spring Boot Web MVC tutorial - Hypermedia System

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Contact</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
</head>
<body>
<h1>New Contact</h1>

<form action="/hs/contacts/new" th:object="${contact}" method="post">
    <p>
        <label>Name <input placeholder="Name" th:field="*{name}"></label>
        <span th:errors="*{name}"></span>
    </p>
    <p>
        <label>Phone <input placeholder="Phone" th:field="*{phone}"></label>
        <span th:errors="*{phone}"></span>
    </p>
    <button>Save</button>
</form>
<p>
    <a href="/hs/contacts">Contacts</a>
</p>

</body>
</html>