<!--
    Spring Boot Web MVC tutorial 

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Mock Home Page</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" href="/css/simple.css">
</head>
<body>
    <h1>Mock Home Page <i>(session)</i></h1>

    <div th:if="${session.user != null}">
        <h2>
            Hello <span th:text="${session.user}">User name</span>!
        </h2>
        <p>
            <a href="logout">logout</a>
        </p>
    </div>

    <form th:if="${session.user == null}" action="login" method="post">
        <label>Login <input name="user" placeholder="..." autofocus></label>
        <button>OK</button>
    </form>

    <div th:replace="~{fragments :: myNav}"></div>
</body>
</html>