<!--
    Spring Boot Web MVC tutorial - Hypermedia System: htmx

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hx-swap</title>
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
    <script src="/js/vendor/htmx.min.js"></script>
</head>
<body>
<h1>hx-swap</h1>

<h2>By default, replace the target innerHTML</h2>
<button hx-get="/hx/get-paragraph" hx-target="#t1">Get it!</button>
<div id="t1">The response goes here</div>

<h2>Replace the full target by outerHTML</h2>
<button hx-get="/hx/get-paragraph" hx-target="#t2" hx-swap="outerHTML">Get it!</button>
<div id="t2">The response goes here</div>

<a href="index.html">Back home</a>
</body>
</html>