<!--
    Spring Boot Web MVC tutorial - Hypermedia System: htmx

    https://github.com/egalli64/spring-mvc
 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">

<div th:fragment="content">
    <h1>Hello from Thymeleaf and htmx!</h1>

    <p><a href="hx-get">hx-get and hx-target</a>: Any element could GET and be targeted</p>
    <p><a href="hx-swap">hx-swap</a>: Different ways of targeting an element</p>
    <p><a href="hx-trigger">hx-trigger</a>: Any event could trigger a request</p>

    <p><a href="get-form">hx-get in a form</a>: Enclosing form</p>
    <p><a href="hx-include">hx-include</a>: Including input elements</p>
    <p><a href="hx-vals">hx-vals</a>: Inline values</p>
</div>

</html>