<!--
    Spring Boot Web MVC tutorial 

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Link Expressions</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" th:href="@{/css/simple.css}">
</head>
<body>
    <h1>Link Expressions</h1>
    <nav>
        <a th:href="@{/}">Home</a> <em>(link in a th:href attribute)</em>
    </nav>

    <h2>Link in a th:src attribute</h2>
    <figure>
        <img alt="A blue block" th:src="@{/img/blue.jpg}">
        <figcaption>An image with a safe source</figcaption>
    </figure>

    <h2>Link in a th:action attribute</h2>
    <form th:action="@{/m3/s3/link-feedback}" method="post">
        <input name="name" value="Bob">
        <button>OK</button>
    </form>
</body>
</html>