<!--
    Spring Boot Web MVC tutorial 

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>th:attr</title>
<link rel="icon" href="data:;base64,=">
<link rel="stylesheet" type="text/css" th:href="@{/css/simple.css}">
</head>
<body>
    <h1>th:attr</h1>

    <h2>Using the attribute th:attr on placeholder</h2>
    <input th:attr="placeholder=${admin ? 'Admin search...' : 'User search...'}">

    <div th:replace="~{fragments :: myNav}"></div>
</body>
</html>