<!--
    Spring Boot Web MVC tutorial 

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="siteHeader">
        <h1>My Website</h1>
    </header>

    <footer th:fragment="siteFooter">
        <p>&copy; 2025 My Company</p>
    </footer>

    <p th:fragment="welcome(name)">Welcome, <span th:text="${name}">Jo</span>!</p>

    <div th:fragment="myNav">
        <hr>
        <nav>
            <a th:href="@{/}">Home</a>
        </nav>
    </div>
</body>
</html>
