<!--
    Spring Boot Web MVC tutorial - Hypermedia System: htmx

    https://github.com/egalli64/spring-mvc
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<head>
    <meta charset="UTF-8">
    <title>A Thymeleaf/htmx App</title>
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
    <script src="/js/vendor/htmx.min.js"></script>
</head>
<body>

<header>
    <nav>
        <a th:href="@{/index.html}">MVC home</a>
        <a th:href="@{/hx/}">Thymeleaf/htmx home</a>
    </nav>
</header>

<main>
    <div th:replace="~{::content}"></div>
</main>

<footer>
    <hr>
    <p>&copy; 2025 A Thymeleaf/htmx App</p>
</footer>
</body>
</html>